
header {
    background-color:#9ecffd;
    border-radius: 10px;
}

header h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
    position:relative;
    bottom: 0px;
}

header li {
    width:32%;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.headerbis {
    position:fixed;
    display:block;
    height:60px;
}

.left {
    background-color:#9ecffd;
    border-radius: 5px;
    margin: 2px;
}

.left:hover {
    border-color: black;
    border-style:groove;
    border-radius: 5px;
}

main {
    background-color:#dedee1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main h1 {
    margin-top:50px;
    text-align:center;
    font-family:Pacifico;
    font-size: 40px;
}

main p  {
    font-family:cursive;
    font-size: 15px;
}

.ontheroad {
    text-align: center;
    font-weight: bold;
}

.mainparcours h2 {
    list-style: none;
    font-family:sans-serif;
    font-size: 20px;
    border-color: #9ecffd;
    border-style:double;
    border-radius: 5px;
}

.mainparcours div {
    width: 500px;
    text-align: center;
    margin:auto;
}

.mainparcours h4 {
    list-style: none;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.mainparcours h3 {
    font-family:sans-serif;
    font-size: 15px;   
    color:#69b5fd;
}

table {
    margin: auto;
    width: 90%;
}

.xp li {
    list-style:disc;
    text-align: left
}

.xp p {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #9ecffd;
}

a:hover{
    color:black;
}

.photo {
    text-align: center;
}

.maincontact {
    text-align: center;
}

footer ul {
    list-style: none;
}

h2 {
    list-style: none;
    font-family:sans-serif;
    font-size: 15px;
}

main ul {
    list-style: none;
}

main ol {
    list-style:none;
    margin-top: 50px;
}

footer {
    margin-top: 20px;
    background-color:#9ecffd;
    border-radius: 10px;
    text-align: center;
}